/*CSS Classement*/
.classement-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.classement-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: start;
}

.classement-table-left,
.classement-table-right {
    width: 100%;
    background-color: #343a40;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.classement-table-left table,
.classement-table-right table {
    width: 100%;
    border-collapse: collapse;
}

.classement-table-left caption,
.classement-table-right caption
{
    background-color: #970008;
    font-size: 1.5em; 
}
.classement-table-left th,
.classement-table-left td,
.classement-table-right th,
.classement-table-right td,
.classement-table-left caption,
.classement-table-right caption {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    line-height: 1;
}

.classement-table-left th,
.classement-table-right th {
    background: rgba(255, 255, 255, 0.04);
}

.classement-header {
    text-align: center;
    margin: 0;
}
