/* CSS Home */
.home-page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.home-header h1, .home-header h2 {
    text-align: center;
    margin: 10px 0;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    gap: 20px;
}

.home-card-left,
.home-card-right {
    flex: 1;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    background-color: #343a40;
    border: 1px solid white;
}

.chat-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px 5px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 1px;
    border: 1px solid black;
    background-color: white;
    text-align: left;
}
.message {
    padding: 5px;
    margin: 1px 0;
    color: #000;
}
.chat-form {
    width: 100%;
    display: flex;
    gap: 5px;
}

.chat-form input[type="text"] {
    flex: 1;
    padding: 1px;
    height: 30px;
    border: 1px solid black;
}